body {
    background: $color-white;
}

.peper-doc {
    width: 100%;
    background: transparent;

    .render {
        padding-top: 8px;
        padding-bottom: 8px;
        background: $color-grey-200;

        .render-block {
            & > * {
                margin-left: auto;
                margin-right: auto;
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }
    }
    .label {
        background: $color-white;
        height: 48px;
        width: 100%;
    }
}
