@charset "UTF-8";
body {
  background: #ffffff; }

.peper-doc {
  width: 100%;
  background: transparent; }
  .peper-doc .render {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #eeeeee; }
    .peper-doc .render .render-block > * {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2px;
      margin-bottom: 2px; }
  .peper-doc .label {
    background: #ffffff;
    height: 48px;
    width: 100%; }

/*
    Para├¡so (dark)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/
/* Para├¡so Comment */
.hljs-comment,
.hljs-quote {
  color: #8d8687; }

/* Para├¡so Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta {
  color: #ef6155; }

/* Para├¡so Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
  color: #f99b15; }

/* Para├¡so Yellow */
.hljs-title,
.hljs-section,
.hljs-attribute {
  color: #fec418; }

/* Para├¡so Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #48b685; }

/* Para├¡so Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #815ba4; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #2f1e2e;
  color: #a39e9b;
  padding: 0.5em; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.peper-code {
  background: #333 !important;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1); }
  .peper-code:hover {
    background: #444 !important; }
    .peper-code:hover .copy-button {
      background: #666; }
  .peper-code .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #555;
    z-index: 5;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    color: #f5f5f5;
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1); }
    .peper-code .copy-button:hover {
      background: #4e4e4e;
      color: #eeeeee; }
  .peper-code pre {
    padding: 0;
    margin: 0;
    background: transparent !important; }
    .peper-code pre code {
      background: transparent !important;
      white-space: pre-wrap;
      word-wrap: break-word; }
      .peper-code pre code, .peper-code pre code * {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial; }

/*# sourceMappingURL=docs.css.map */
