.peper-avatar {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    @include border-radius(100%);
    background: #212121;
    color: white;
    overflow: hidden;
    @include transform(translateZ(0));
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}
